@{
    ViewBag.Title = "Home Page";
}
<style>
    .loading {
        color: red;
        text-align: center;
    }

    #loading {
        display: none;
        color: red;
        font-size: 30px;
        text-align: center;
    }
</style>
<div class="jumbotron">
    <h1>William Love Felen Album</h1>
</div>
<div class="row" id="DivImages">
</div>
<div class="row text-center" style="padding-top:20px;" id="DivLoading"> <span id="loading">Loading Please wait...</span> </div>
@section scripts
{
    <script>
        var currentPage = 1;
        var PageSize = 6;
        var NoMoreData = false;
        $(document).ready(function () {

            loadPageData(currentPage);
            $(window).scroll(function () {
                //if ($(window).scrollTop() > (Number($("#DivImages").height()) / 2) && !NoMoreData) {
                if (($(window).scrollTop() + $(window).height() >= $(document).height() - 200) && !NoMoreData) {
                    //console.log("loading");
                    currentPage += 1;
                    loadPageData(currentPage);
                }
            });
        });
        function loadPageData(currentPageNumber) {
            $("#loading").show();
            $.ajax({
                url: '/Home/GetImages',
                method: 'post',
                dataType: "json",
                data: { pageNumber: currentPageNumber, pageSize: PageSize },
                success: function (Response) {
                    //console.log('success balikannya = ' + Response);
                    //console.log(Response);
                    //console.log(Response.isSuccess);
                    if (Response.isSuccess) {
                        //console.log('response = success');
                        var DivImages = $('#DivImages');
                        NoMoreData = Response.noMoreData;
                        //console.log('length = ' + Response.data.length);
                        $(Response.data).each(function (index, ImagesData) {
                            console.log('ImagesData');
                            //console.log('ImagesData = ' + ImagesData);
                            @* var AppendDiv = '<div class="col-md-4"><div class="thumbnail" ><img src="/UploadedFiles/' + ImagesData.fileName + '" alt="file" class="img-responsive" style="width:100%;height:250px;"></div></div>'; *@
                            @* https://cdn.jsdelivr.net/gh/wsetiono/williamfelenprewed/Prewedding/wwwroot/assets/images/gallery-07.jpg *@
                            var AppendDiv = '<div class="col-md-4"><div class="thumbnail" ><img src="https://cdn.jsdelivr.net/gh/wsetiono/williamfelenalbum/wwwroot/UploadedFiles/' + ImagesData.fileName + '" alt="file" class="img-responsive" style="width:100%;height:250px;"></div></div>';
                            DivImages.append(AppendDiv);
                        });
                    }
                    $("#loading").hide();
                },
                error: function (err) {
                    $("#loading").hide();
                    alert(err);
                }
            });
        }
    </script>
}